.containerCreate img {
  position: relative;
}

.overlayCreate {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 30%;
}

.add-a-gift {
  width: 30rem;
  max-width: 90%;
  margin: auto;
}

.form-control label {
  margin: 2rem 0;
  color: #FFFFFF;
}

.form-control input {
  display: block;
  width: 80%;
  margin-bottom: 0.25rem;
  color: #FFFFFF;
}

.form-control input {
  border: 1px solid firebrick;
  border-radius: 2px;
  font-size: large;
}
