.containerList {
  filter: blur(50%);
}

.gift {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));

  &__box {
    z-index: 1;
    padding: 2rem 3rem 2rem 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;

    background-color: white;
    box-shadow: 0 1.5rem 4rem rgba(white, .25);
    border-radius: 10px;
  }

  &-title {
    text-align: center;
  }

  &-list {
    text-align: center;
    &-name {
      font-size: 3rem;
      color: #7a1e1e;
    }
  }
}

.img-list {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  filter: blur(50%);
}

.overlayTextList {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 30%;
}

.title-list {
  position: relative;
  font-size: 5rem;
  text-align: center;
}

.btnList {
  padding: 2rem 0 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  outline: none;
  color: #202020;
}

.add {
  font-size: 2rem;
  text-decoration: none;
  outline: none;
  color: #202020;
}