//COLOR
$color-basic-dark: #202020;
$color-basic-white: #FFFFFF;

//FONT-FAMILY
$font-family: Didot;

$font-size-subtitles: 3.5rem;

//body

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  color: #161616;
  font-weight: 300;
  line-height: 1.6;
}

// Title

.title {
  position: relative;
  font-size: 5rem;
  text-align: center;
}

// Icons

.icon {

  &-home {
    color: aliceblue;
    font-size: 3rem;
    padding-right: 1rem;
  }

  &-user {
    color: aliceblue;
    font-size: 2.5rem;
    padding-right: 1rem;
  }

  &-gift {
    color: peachpuff;
    font-size: 2.5rem;
    padding-right: 1.5rem;
    padding-left: 3rem;
  }
}

////////// Button ////////////


button {
  text-align: center;
  font-size: 2rem;
  border: 1px solid firebrick;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  color: firebrick;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: none;
  font-family: inherit;
}

button:hover,
button:active {
  background-color: firebrick;
  color: bisque;
}

.btn {
  margin-left: 2rem;
  text-decoration: none;
  border: 1px solid firebrick;
  background-color: white;
  cursor: pointer;
  color: firebrick;

  text-align: center;
  font-size: 2rem;
  border-radius: 5px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.btn:hover,
.btn:active {
  background-color: firebrick;
  color: bisque;
}

.logout {
  display: inline-flex;
  line-height: inherit;
}


