<%- include('include/head.ejs') %>

</head>

<body>

<%- include('include/nav.ejs') %>

<div class="container">
    <video autoplay>
        <source class="video" src="/videos/giftvideo.mp4" type="video/mp4">
    </video>
    <div class="overlayText">
        <p class="title">Welcome to your gift list</p>
        <p class="subtitle">It's time to get the gifts you truly desire.</p>
    </div>
</div>

<%- include('include/footer.ejs') %>
