<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> <%= docTitle %> </title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header class="main-header">
    <nav class="main-header_nav">
        <ul class="main-header_item-list">
            <li class="main-header_item"><a class="active" href="/">My gift list</a></li>
            <li class="main-header_item"><a href="/admin/create">Add a gift</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>My list</h1>
    <ol>
    <%
    if (hasGifts) {
    %>
    <h2>List of my desired gifts: </h2>
    <%
        for (var i = 0; i < gifts.length; i++) {
    %>
            <li> <%= gifts[i].name %> </li>
    <%
        }
    } else {
    %>
        <p> You did not add any gift in your list... </p>
    <%
    }
    %>
    </ol>
</main>

</body>
</html>