.btn {
    font-family: Didot;
    font-size: large;
    border: 1px solid firebrick;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
    color: firebrick;
}

.btn:hover,
.btn:active {
    background-color: firebrick;
    color: bisque;
}
