*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: Didot;
  color: #161616;
  font-weight: 300;
  line-height: 1.6; }

.title {
  position: relative;
  font-size: 5rem;
  text-align: center; }

.icon-home {
  color: aliceblue;
  font-size: 3rem;
  padding-right: 1rem; }

.icon-user {
  color: aliceblue;
  font-size: 2.5rem;
  padding-right: 1rem; }

.icon-gift {
  color: peachpuff;
  font-size: 2.5rem;
  padding-right: 1.5rem;
  padding-left: 3rem; }

button {
  text-align: center;
  font-size: 2rem;
  border: 1px solid firebrick;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  color: firebrick;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: none;
  font-family: inherit; }

button:hover,
button:active {
  background-color: firebrick;
  color: bisque; }

.btn {
  margin-left: 2rem;
  text-decoration: none;
  border: 1px solid firebrick;
  background-color: white;
  cursor: pointer;
  color: firebrick;
  text-align: center;
  font-size: 2rem;
  border-radius: 5px;
  padding: 0.5rem 1rem 0.5rem 1rem; }

.btn:hover,
.btn:active {
  background-color: firebrick;
  color: bisque; }

.logout {
  display: inline-flex;
  line-height: inherit; }

.containerCreate img {
  position: relative; }

.overlayCreate {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 30%; }

.add-a-gift {
  width: 30rem;
  max-width: 90%;
  margin: auto; }

.form-control label {
  margin: 2rem 0;
  color: #FFFFFF; }

.form-control input {
  font-family: inherit;
  display: block;
  width: 80%;
  margin-bottom: 0.25rem;
  color: #FFFFFF; }

.form-control input {
  border: 1px solid firebrick;
  border-radius: 2px;
  font-size: large; }

.containerDetails {
  padding-bottom: 2rem;
  font-size: 2.1rem; }

.quantity {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.main-header {
  width: 100%;
  height: 10rem;
  background-color: #7a1e1e;
  padding: 0 1rem;
  box-shadow: #202020; }
  .main-header_nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .main-header_item {
    margin: 0 1rem;
    padding: 0; }
    .main-header_item-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex; }
    .main-header_item_right {
      margin-right: 0rem;
      padding: 0; }
    .main-header_item a {
      text-decoration: none;
      color: aliceblue;
      font-size: 02.5rem; }
      .main-header_item a:hover, .main-header_item a:active {
        color: bisque; }

.centered {
  text-align: center; }

.user-message {
  margin: auto;
  width: 90%;
  border: 1px solid darkslategray;
  padding: 1rem;
  border-radius: 3px;
  background: aliceblue;
  text-align: center; }
  .user-message--error {
    border-color: firebrick;
    background: aliceblue; }

.container {
  position: relative; }

.container video {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%; }

.overlayText {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 32%; }

.subtitle {
  position: relative;
  z-index: 1;
  font-size: 2rem;
  margin-top: 5rem;
  left: 5%; }

.containerList {
  filter: blur(50%); }

.gift {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr)); }
  .gift__box {
    z-index: 1;
    padding: 2rem 3rem 2rem 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    box-shadow: 0 1.5rem 4rem rgba(255, 255, 255, 0.25);
    border-radius: 10px; }
  .gift-title {
    text-align: center; }
  .gift-list {
    text-align: center; }
    .gift-list-name {
      font-size: 3rem;
      color: #7a1e1e; }

.img-list {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  filter: blur(50%); }

.overlayTextList {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 30%; }

.title-list {
  position: relative;
  font-size: 5rem;
  text-align: center; }

.btnList {
  padding: 2rem 0 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  outline: none;
  color: #202020; }

.add {
  font-size: 2rem;
  text-decoration: none;
  outline: none;
  color: #202020; }

.container-login image {
  position: relative; }

.img-login {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%; }

.overlayTextLogin {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 30%; }

.subtitleLogin {
  padding-bottom: 2rem;
  position: relative;
  z-index: 1;
  font-size: 2.5rem; }

.reset {
  color: #202020;
  position: relative;
  z-index: 1;
  font-size: 1.5rem; }
  .reset-space {
    margin-top: 3rem; }
  .reset-text {
    color: #202020;
    outline: none; }

.form-control {
  margin: 2rem 0; }

.form-control label,
.form-control input {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
  color: #7a1e1e; }

.form-control input {
  border: 1px  solid firebrick;
  border-radius: 2px;
  font-size: 2.5rem; }

.containerNewPass {
  padding: 1rem 4rem 1rem 4rem; }
