<header class="main-header">
    <nav class="main-header_nav">
        <ul class="main-header_item-list">
            <li class="main-header_item">
                <a class= "active" href="/">Home</a>
            </li>
            <li class="main-header_item">
                <a class= "active" href="/admin/myList">My gift list</a>
            </li>
            <li class="main-header_item">
                <a href="/admin/create">Add a gift suggestion</a>
            </li>
            <li class="main-header_item">
                <a class= "active" href="/admin/cart">My cart</a>
            </li>
            <li class="main-header_item">
                <a class= "active" href="/login">Login!</a>
            </li>
            <li class="main-header_item">
                <a class="active" href="/signup">Signup!</a>
            </li>
        </ul>
    </nav>
</header>
